In [3]:
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup as bs 
import pandas as pd
import re
import time
import sys
import requests

In [3]:
driver=Chrome("c:/pydata/chromedriver.exe")

driver.get("https://academy.prompie.com/accounts/login/?next=/")
time.sleep(2)

C:\Users\jhgf\AppData\Local\Temp\ipykernel_11940\3560848904.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=Chrome("c:/pydata/chromedriver.exe")

In [4]:
driver.get("https://academy.prompie.com/schools/school-district/search/?province=1")

In [5]:

SCROLL_PAUSE_SEC = 3

# 스크롤 높이 가져옴
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # 끝까지 스크롤 다운
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # 3초 대기
    time.sleep(SCROLL_PAUSE_SEC)

    # 스크롤 다운 후 스크롤 높이 다시 가져옴
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [6]:
html=driver.page_source

soup=bs(html, "html.parser")

card=soup.find_all('tr', class_='infinite-item')

In [7]:
result=[]
for data in card:
    rank=re.sub("[^0-9가-힣]", "", data.find('h6', class_='font-weight-normal m-0').text)
    loc=data.find('td', class_='align-middle h6 text-left').find('a').text
    result.append({'순위' : rank, '지역명' : loc})

In [1]:
df=pd.DataFrame(result)
df['순위']=[i+1 for i in range(len(df))]
df.head(50)

NameError: name 'pd' is not defined

In [10]:
df.to_csv("학군_데이터.csv", index=False)

In [4]:
df=pd.read_csv('학군_데이터.csv')

In [13]:
data=[]
for i in range(len(df)):
    data.append(df.loc[i, '지역명'].split(" ")[1])
df['구']=data

df_part=df.head(40)
df_part.groupby('구')[['순위']].count().sort_values(by='순위', ascending=False)

      순위
구
강남구    8
송파구    6
광진구    3
서초구    3
도봉구    2
양천구    2
마포구    2
동대문구   2
노원구    2
강서구    2
은평구    2
강동구    1
동작구    1
금천구    1
성북구    1
강북구    1
영등포구   1